@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);
$white-color: #FFFFFF;
$gray-color: #4F4F4F;
$light-gray: #c3c3c3;
$dark-gray: #333333;
$orange-color: #F26A48;
$black-color: #000000;
$darkblue-color: #000711;