@import "./vars";

.header {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-color: $darkblue-color;
    height: 437px;
    text-align: center;
    
    .top-menu {
        background-color: rgba($white-color, 0.2);
        height: 128px;

        .top-menu-tbl {
            display: table;
            table-layout: fixed;
            width: 1024px;
            text-align: center;
            margin: 0px auto;
            
            
            .top-menu-row {
                display: table-row;
                height: 128px;      
            
                .logo {
                    background-image: url("../images/logo.png");
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    width: 128px;
                    height: 128px;
                }
                .title {
                    color: $white-color;
                    width: 100%;
                    font-size: 150%;
                    vertical-align: middle;
                    text-align: left;
                }
                
                * {
                    display: table-cell;
                    text-align: center;
                }
            }
        }        
    }
    
    .greetings {
        height: 309px;
        padding-bottom: 10px;
        color: $white-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .greetings1 {
            flex-grow: 5;
            max-width: 400px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 200%;
            margin: auto;
            .text {
                .expand {
                    color: $orange-color;
                }
            }
        }
        .greetings2 {
            flex-grow: 1;
            max-width: 400px;
        }
    }
}
@media only screen and (max-width: 3980px) {
    .header {
        background-position: right top;
    }
}

@media only screen and (max-width: 1980px) {
    .header {
        background-position: 50% top;
    }
}


@media only screen and (max-width: 980px) {
    .header {
        background-position: -500px top;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        background-position: -800px top;

        .top-menu {      
            .top-menu-tbl {
                width: 100% !important;
                margin: initial !important;
                
                .top-menu-row {
                        * {
                        display: block !important;
                    }
                    
                    .title {
                        text-align: center !important;
                    }
                    
                    .logo {
                        width: 100%;
                        background-image: url("../images/logo.png");
                        height: 84px;
                    }
                }
            }
        }
        
        .greetings {
            .greetings1 {
                font-size: 150% !important;
            }
        }
    }
}