@import "./vars";

.header {
    background-image: url("../images/bg2.png");
    // height: 535px;
    // background-repeat: no-repeat;
    background-position: left top;
    background-color: $orange-color;
    padding: 0px;
    margin: 0px;
    display: block;
    height: 437px;
    text-align: center;
    
    .top-menu {
        text-align: center;
        background-color: rgba($white-color, 0.2);
        height: 128px;

        .top-menu-tbl {
            display: table;
            table-layout: fixed;
            width: 1024px;
            text-align: center;
            margin: 0px auto;
            
            
            .top-menu-row {
                display: table-row;
                height: 128px;      
            
                .logo {
                    background-image: url("../images/logo.png");
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    width: 128px;
                    height: 128px;
                }
                .title {
                    color: $white-color;
                    width: 100%;
                    font-size: 150%;
                    vertical-align: middle;
                    text-align: left;
                }
                
                * {
                    display: table-cell;
                    text-align: center;
                }
            }
        }        
    }
    
    .greetings {
        width: 100% !important;
        height: 309px;
        // margin: 10px;
        padding-bottom: 10px;
        color: $white-color;
        display: block;
        text-align: center;
        
        
        .greetings1:before {
            content: '\200B';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        
        .greetings1 {
            height: 70%;
            font-size: 200%;
            
            .easy {
                color: $orange-color;
            }
        }
        .greetings2 {
            height: 10%;
        }
        .greetings3 {
            height: 20%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .viewport {
        .header {
            .top-menu {      
                .top-menu-tbl {
                    width: 100% !important;
                    margin: initial !important;
                    
                    .top-menu-row {
                            * {
                            display: block !important;
                        }
                        
                        .title {
                            text-align: center !important;
                        }
                        
                        .logo {
                            width: 100%;
                            background-image: url("../images/logo.png");
                            height: 84px;
                        }
                    }
                }
            }
            
            .greetings {
                height: 309px !important;
                
                .greetings1:before {
                    // height: 10px !important;
                    height: 100% !important;
                }
                .greetings1 {
                    font-size: 150% !important;
                    height: 65% !important;

                    .center-text {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: normal;      
                    }
                }
                
                .greetings2 {
                    height: 20% !important;
                }
                .greetings3 {
                    height: 15% !important;
                    margin-bottom: 10px;
                }
            }
        }
    }
}