<div class="viewport">
    <div class="header">
        <div class="top-menu">
            <div class="top-menu-tbl">
                <div class="top-menu-row">
                    <div class="logo">

                    </div>
                    <div class="title">
                        Bot4You
                    </div>
                </div>
            </div>
            <div class="greetings">
                <div class="greetings1">Messenger Bots, Crawlers, IoT</div>
                <div class="greetings2">Easy way to get useful information Easy way to get useful information</div>
                <div class="greetings3">Easy way to get useful information Easy way to get useful information</div>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="introduction">
            Many Australian websites are too heavy and not compatible with mobile devices so getting neccessary information could be
            a big challenge.
            <br> Our service accepts requests using Telegram messenger, goes to provider website, parse data and returns clean
            information back to user.
            <br> The full list of supported services provided below.
        </div>

        <div class="introduction-telegram">
            With our service you get just what you want to get.
            <br> To work with us you need Telegram application which you can download for free from <a href="https://telegram.org/">https://telegram.org</a>
        </div>
    </div>
</div>