<div class="viewport">
    <header></header>

    <div class="about">
        <div class="introduction">
            Many Australian websites are too heavy and not compatible with mobile devices so getting neccessary information could be
            a big challenge.
            <br> Our service accepts requests using Telegram messenger, goes to provider website, parse data and returns clean
            information back to user.
            <br> The full list of supported services provided below.
        </div>

        <div class="introduction-telegram">
            With our service you get just what you want to get.
            <br> To work with us you need Telegram application which you can download for free from <a href="https://telegram.org/">https://telegram.org</a>
        </div>
    </div>
</div>