<div class="header">
	<div class="top-menu">
		<div class="top-menu-tbl">
			<div class="top-menu-row">
				<div class="logo">

				</div>
				<div class="title">
					Bot4You
				</div>
			</div>
		</div>
		<div class="greetings">
			<div class="greetings1"><div class="text"><span class="expand">Expand</span> your business with automatic assistants</div></div>
			<div class="greetings2">Be close to your clients with chat bots for popular messengers and let them grow your business.</div>
		</div>
	</div>
</div>