<div class="header">
	<div class="top-menu">
		<div class="top-menu-tbl">
			<div class="top-menu-row">
				<div class="logo">

				</div>
				<div class="title">
					Bot4You
				</div>
			</div>
		</div>
		<div class="greetings">
			<div class="greetings1">Messenger Bots, Crawlers, IoT</div>
			<div class="greetings2">Easy way to get useful information Easy way to get useful information</div>
			<div class="greetings3">Easy way to get useful information Easy way to get useful information</div>
		</div>
	</div>
</div>