<div class="whatisit">
	What is it?
	<hr>
</div>
<div class="section-wrapper">
	<div class="section-container">
		<div class="cell">
			<div class="header">
				<span class="icon fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-comments fa-stack-1x fa-inverse"></i>
			</span> Messenger assistant
			</div>
			<div class="details">
				Bot is a messenger companion created to automatically assist customers and provide them support and another relevant information.
				They work either in fully automatic mode or in semiautomatic where bots answer partially based on human decisions.
			</div>
		</div>
		<div class="cell">
			<div class="header">
				<span class="icon fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-users fa-stack-1x fa-inverse"></i>
			</span> New way to communicate with clients
			</div>
			<div class="details">
				Millions of people use messengers every day. All you need is an automatic assistant which talks to your clients there, solves
				routine issues and provides clients requested information. They will get just what they want. Bot talks to customers
				using one of the popular messengers, such as Telegram, Facebook Messenger or Skype.
			</div>
		</div>
	</div>
</div>